{% extends 'base.html' %}
{% load static %}


{% block body %}
<section class="registration-page d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row cont rounded-4">
            <h2>Reset Password</h2>
            <div class="col-12 container-form">
                <form class="form" id="form" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="mb-3 input-group">
                            <input type="email" id="email" class="rounded-4" required name="email">
                            <label for="email" class="form-label" id="email-label">
                                <i class="fa-solid fa-envelope pe-2"></i>
                                Email
                            </label>
                            <div class="form-valid d-flex justify-content-center align-items-center bg-danger">
                                <i class="fa-solid fa-circle-exclamation position-absolute"></i>
                                <i class="fa-regular fa-circle-check position-absolute"></i>
                                <span id="email-error">errormsg</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-center text-warning" style="font-size:1.3rem;">Please Enter a working email ID, You will receive mail for verification...!</p>
                    <div class="submit-btn">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <button type="submit"
                                class="btn main-btn p-3 rounded-pill d-flex align-items-center justify-content-center"
                                style="width: 100%; font-size: 1.4rem;">Submit</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</section>

<script>
    
    function validateEmail() {
        var inputgroup = document.getElementById("email").closest(".input-group");
        var email = document.getElementById("email").value;
        var emailerror = inputgroup.querySelector("#email-error");
        var pattern = /^[A-Za-z\._\-0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/;
        var atSymbol = email.indexOf('@');  
        var dot= email.lastIndexOf('.')
    
        if(atSymbol < 1){
            inputgroup.classList.remove("success");
            inputgroup.classList.add("error");
            emailerror.innerHTML = "Please Enter valid Email";
        }
        else if(email === ""){
            inputgroup.classList.remove("success");
            inputgroup.classList.add("error");
            emailerror.innerHTML = "Email Cannot be Empty";
        }
        else if(dot <= atSymbol + 2){
            inputgroup.classList.remove("success");
            inputgroup.classList.add("error");
            emailerror.innerHTML = "Please Enter valid Email";
        }
        else if (email.match(pattern)) {
            inputgroup.classList.add("success");
            inputgroup.classList.remove("error");
        } else {
            inputgroup.classList.remove("success");
            inputgroup.classList.add("error");
            emailerror.innerHTML = "Please Enter valid Email";
        }
    }
    
document.getElementById("email").addEventListener("input", validateEmail);
document.getElementById("email").addEventListener("focus", moveLabel);
document.getElementById("email").addEventListener("input", moveLabel);
function moveLabel() {
    var input = this;
    var label = input.nextElementSibling;

    if (input.value.trim() !== "") {
        label.style.top = "-4rem"; // Move label up if input has content
    } else {
        label.style.top = "0"; // Move label down if input is empty
    }
}
</script>
{% endblock body %}