{% extends 'base.html' %}
{% load static %}


{% block body %}
<section class="registration-page d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row cont rounded-4">
            <h2>Reset Password</h2>
            <div class="col-12 container-form">
                <form class="form" id="form" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="mb-3 input-group">
                            <input type="password" id="password" class="rounded-4" required name="password">
                            <label for="password" class="form-label" id="password-label">
                                <i class="fa-solid fa-envelope pe-2"></i>
                                password
                            </label>
                            <div class="form-valid d-flex justify-content-center align-items-center bg-danger">
                                <i class="fa-solid fa-circle-exclamation position-absolute"></i>
                                <i class="fa-regular fa-circle-check position-absolute"></i>
                                <span id="password-error">errormsg</span>
                            </div>
                        </div>
                        <div class="mb-3 input-group">
                            <input type="password" id="password" class="rounded-4" required name="password">
                            <label for="password" class="form-label" id="password-label">
                                <i class="fa-solid fa-envelope pe-2"></i>
                                password
                            </label>
                            <div class="form-valid d-flex justify-content-center align-items-center bg-danger">
                                <i class="fa-solid fa-circle-exclamation position-absolute"></i>
                                <i class="fa-regular fa-circle-check position-absolute"></i>
                                <span id="password-error">errormsg</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-center text-warning" style="font-size:1.3rem;">Please Enter a working password ID, You will receive mail for verification...!</p>
                    <div class="submit-btn">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <button type="submit"
                                class="btn main-btn p-3 rounded-pill d-flex align-items-center justify-content-center"
                                style="width: 100%; font-size: 1.4rem;">Submit</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</section>

<script>
    
    function validatepassword() {
        var inputgroup = document.getElementById("password").closest(".input-group");
        var password = document.getElementById("password").value;
        var passworderror = inputgroup.querySelector("#password-error");
        var pattern = /^[A-Za-z\._\-0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/;
        var atSymbol = password.indexOf('@');  
        var dot= password.lastIndexOf('.')
    
        if(atSymbol < 1){
            inputgroup.classList.remove("success");
            inputgroup.classList.add("error");
            passworderror.innerHTML = "Please Enter valid password";
        }
        else if(password === ""){
            inputgroup.classList.remove("success");
            inputgroup.classList.add("error");
            passworderror.innerHTML = "password Cannot be Empty";
        }
        else if(dot <= atSymbol + 2){
            inputgroup.classList.remove("success");
            inputgroup.classList.add("error");
            passworderror.innerHTML = "Please Enter valid password";
        }
        else if (password.match(pattern)) {
            inputgroup.classList.add("success");
            inputgroup.classList.remove("error");
        } else {
            inputgroup.classList.remove("success");
            inputgroup.classList.add("error");
            passworderror.innerHTML = "Please Enter valid password";
        }
    }
    
document.getElementById("password").addEventListener("input", validatepassword);
document.getElementById("password").addEventListener("focus", moveLabel);
document.getElementById("password").addEventListener("input", moveLabel);
function moveLabel() {
    var input = this;
    var label = input.nextElementSibling;

    if (input.value.trim() !== "") {
        label.style.top = "-4rem"; // Move label up if input has content
    } else {
        label.style.top = "0"; // Move label down if input is empty
    }
}
</script>
{% endblock body %}